body {
    font-family: 'figtree', sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}

.content {
    height: 100vh !important;
}

.nav-link:hover {
    background-color: rgb(67, 76, 85) !important;
}

.nav-link.active {
    background-color: rgb(67, 76, 85) !important;
}
